In [4]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
         "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
         "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

Yukarıdaki sözlüğü bir DataFrame haline getirin.

In [5]:
import pandas as pd

In [7]:
df=pd.DataFrame(sozluk)
df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

# 1
- 2.indexde bulunan kategoriyi bulalım (Sadece kategori bilgisi) 
- 2. indexde bulunan ürünü bulalım (Sadece ürün bilgisi)
- 4.indexden 9.indexe kadar olan verileri bulalım (Kategori,ürün,fiyat bilgisi beraber)
- 1.indexden 6.indexe kadar olan ürünleri bulalım (Sadece ürün bilgisi)

In [19]:
df.iloc[2,0]

'Ayakkabı'

In [18]:
df.iloc[2,1]

'Sandalet'

In [20]:
df.loc[2,"Kategori"]

'Ayakkabı'

In [21]:
df.loc[2,"Ürün"]

'Sandalet'

In [22]:
df[4:9]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850

In [24]:
df[1:6][["Ürün"]]

            Ürün
1        T-shirt
2       Sandalet
3           Küpe
4  Spor Ayakkabı
5       Pantolon

# 2
- Giyim kategorisinde bulunan ürünleri gösterin
- Ayakkabı kategorisinde bulunan ürünleri gösterin
- Aksesuar kategorisinde bulunan ürünleri gösterin

In [36]:
df[df["Kategori"]=="Giyim"][["Ürün"]]

       Ürün
0     Kazak
1   T-shirt
5  Pantolon
9     Ceket

In [37]:
df[df["Kategori"]=="Ayakkabı"][["Ürün"]]

            Ürün
2       Sandalet
4  Spor Ayakkabı
8          Çizme

In [38]:
df[df["Kategori"]=="Aksesuar"][["Ürün"]]

    Ürün
3   Küpe
6  Kolye
7  Yüzük

# 3
- Giyim kategorisinde fiyatı 300'den fazla olan ürünleri gösterin
- Ayakkabı kategorisinde fiyatı 600'den az olan ürünleri gösterin
- Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuarı gösterin

In [76]:
df[df["Kategori"]=="Giyim"][df["Fiyat"]>300][["Ürün"]]

C:\Users\Gamze Şirin\AppData\Local\Temp\ipykernel_17532\3378309608.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["Kategori"]=="Giyim"][df["Fiyat"]>300][["Ürün"]]

       Ürün
5  Pantolon
9     Ceket

In [75]:
df[df["Kategori"]=="Ayakkabı"][df["Fiyat"]<600][["Ürün"]]

C:\Users\Gamze Şirin\AppData\Local\Temp\ipykernel_17532\3345777700.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["Kategori"]=="Ayakkabı"][df["Fiyat"]<600][["Ürün"]]

       Ürün
2  Sandalet

In [74]:
df[df["Kategori"]=="Aksesuar"][df["Fiyat"]>100][["Ürün"]]

C:\Users\Gamze Şirin\AppData\Local\Temp\ipykernel_17532\3126828040.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["Kategori"]=="Aksesuar"][df["Fiyat"]>100][["Ürün"]]

    Ürün
6  Kolye