 # Exercise 1

 x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

 y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

 z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

 a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [1]:
x=3
type(x)

int

In [2]:
x=3
x=float(x)
type(x)

float

In [3]:
y = 4.5
y=int(4.5)
type(y)

int

In [4]:
z = "8"
z=int(z)
type(z)

int

In [5]:
a = "12" 
a=float(a)
type(a)

float

 # Excersice 2

 Üç değişken belirleyelim, bu değşkenler kişi adı olsun. Değişkenlere kişilerin yaşlarını atayalım. (ÖRN: ayse=22)

 Belirlediğimiz üç değişkeni bir biriyle karşılaştırma operatörleri ile karşılatıralım. (ayse>mehmet)

 Bu karşılaştırmalara mantıksal operatörleride ekleyelim.

In [7]:
a="ali"
b="büşra"
g="gamze"
ali=12
büşra=30
gamze=19
gamze>büşra

False

In [8]:
ali<gamze

True

In [9]:
a==b

False

In [10]:
a!=g

True

In [11]:
büşra>=gamze

True

In [12]:
ali<=büşra

True

In [13]:
gamze<20 and büşra <28

False

In [14]:
gamze==20 and büşra <28

False

In [15]:
ali>=30 or gamze<20

True

In [16]:
not((gamze < 50) or (ali< 19))

False

 # Excercise 3

 Kullanıcıdan iki değer girmesini isteyin. Girilen değerlerin toplama,çıkarma,çarpma,bölme sonuçlarını yazdıralım.

In [17]:
a =int(input("birinci sayıyı giriniz"))
print(a)

6

In [18]:
b=int(input("ikinci sayıyı giriniz"))
print(b)

3

In [19]:
c=a+b
print(c)

9

In [20]:
x=a-b
print(x)

3

In [21]:
y=a*b
print(y)

18

In [22]:
z=a/b
print(z)

2.0

In [23]:
e=a//b
print(e)

2

In [24]:
d=b%a
print(b)

3

In [25]:
h=a**b
print(h)

216

 # Excercise 4

 Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini isteyelim ve cevaplarını yazdıralım.

In [26]:
isim=input("adınızı giriniz")
print(isim)

gamze

In [27]:
yas=input("yaşınızı giriniz")
print(yas)

19

In [28]:
sehir=input("yaşadığınız şehri giriniz")
print(sehir)

manisa

In [29]:
meslek=input("mesleğinizi giriniz")
print(meslek)

yazılım mühendisi

 # Excersice 5

 "Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlayalım.
 - İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçelim.
 - İfadeyi hepsini büyük harf olacak hale çevirelim.  ("HI-KOD VERİ BİLİMİ ATÖLYESİ")
 - İfadeyi hepsini büyük harf olacak hale çevirelim.("hi-kod veri bilimi atölyesi")

 "0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçelim. ("02468", "13579")

In [30]:
x="Hi-Kod Veri Bilimi Atölyesi"
x.split()

['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']

In [31]:
x.upper()

'HI-KOD VERI BILIMI ATÖLYESI'

In [32]:
x.lower()

'hi-kod veri bilimi atölyesi'

In [33]:
a="0123456789"
a[::2]

'02468'

In [34]:
a[::-2]

'97531'

In [35]:
a[1::2]

'13579'